<html>
  <head>
  <title>Caeser Cipher</title>
  </head>
  <body>
    <p>
      <form>
        Plain Text:
        <input type ='text' name = 'input_string' value="<%= input_string %>"/><br>
        Offset:
        <input type ='number' name = 'shifted' value=<%= shifted %>><br>
        <input type ='submit' value = 'Encrypt!' />
      </form>
    </p>
    <p>
      Encrypted text: <%= output %>
    </p>
  </body>
</html> 